<%= form_with(model: @mark) do |f| %>
  <div>
    <%= f.label :teacher %>
    <% if @teacher %>
     <%= f.select(:teacher_id, [[@teacher.to_s, @teacher.id]]) %>
    <% else %>
      <%= f.select(:teacher_id, Teacher.all.collect {|p| [ p.surname, p.id ] })%>
    <% end %>
  </div>
  <br/>
  <div>
    <%= f.label :mark %>
    <%= f.text_field :mark %>
  </div>
  <br/>
  <div>
    <%= f.label :subject %>
    <% if @teacher %>
      <%= f.select(:subject, @teacher.subjects) %>
    <% else %>
      <%= f.text_field :subject %>
  <% end %>
  </div>
  <br/>
  <div>
    <%= f.label :student %>
    <%= f.select(:student_id, Student.all.collect {|p| [ p.surname, p.id ] })%>
  </div>
  <br/>
  <div>
    <%= f.label :date %>
    <%= f.date_select(:dob,:start_year => 1950) %>
  </div>
  <br />
  <div>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <br /><br />
  <div>
    <%= f.submit %>
  </div>
<% end %>