<tr id="mark-row_<%= mark.id %>">
  <td><%= mark.teacher %></td>
  <td><%= mark.mark %></td>
  <td><%= mark.subject %></td>
  <td><%= mark.student %></td>
  <td><%= mark.date %></td>
  <td><%= mark.notes %></td>
  <td><%= link_to 'Edit', edit_mark_path(mark), class: 'btn btn-primary', id: "mark-edit_#{mark.id}", remote: true %></td>
  <% if mark.created_at > (Time.now - 1.day) %>
    <td><%= link_to 'Delete', mark_path(mark), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger', id: "mark-delete_#{mark.id}", remote: true %></td>
  <% else %>
    <td><%= link_to 'Delete', mark_path(mark), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger disabled', id: "mark-delete_#{mark.id}", remote: true %></td>
  <% end %>
</tr>