document.getElementById('edit-mark_<%= @mark.id %>').insertAdjacentHTML('afterend', "<tr id='edit-form_<%= @mark.id %>'><td colspan=6><%= j render 'form', mark: @mark %></td></tr>")
$('#edit-mark_<%= @mark.id %> a').parent().html("<%= j link_to("Undo", teacher_marks_url(@teacher), class: "btn btn-warning") %>")