<div>
    Teacher: <%= @mark.teacher.surname %> <%= @mark.teacher.name%>
    Mark: <%= @mark.mark %>
    Subject: <%= @mark.subject %>
    Student: <%= @mark.student.surname %> <%= @mark.student.name %>
    Mark date: <%= @mark.date.to_date.strftime("%d/%m/%Y") %>
    Notes: <%= @mark.notes %>
</div>
<div id="new-mark">
  <%= link_to "Add mark", new_mark_path(params: { school_class_id: @mark.school_class, teacher_id: @mark.teacher }), remote: true %>
</div>
