<% content_for :sidebar do %>
  <div class="sidebar-header">
    <h3>Welcome <%= @officer.to_s %>!</h3>
  </div>

  <ul class="list-unstyled components">
    <p>Officer page</p>
    <li><%= link_to " Home", officer_path(@officer), class: 'mdi mdi-view-dashboard', data: { turbolinks: false } %></li>
    <li><%= link_to " Students", officer_enrollment_url(@officer), class: 'mdi mdi-folder-account-outline', data: { turbolinks: false } %></li>
    <li><%= link_to " Parents", officer_parents_url(@officer), class: 'mdi mdi-human-male-girl', data: { turbolinks: false } %></li>
    <li><%= link_to " Class composition", officer_classes_url(@officer), class: 'mdi mdi-account-group', data: { turbolinks: false } %></li>
    <li class="active"><%= link_to " Communications", officer_communications_url(@officer), class: 'mdi mdi-text-to-speech', data: { turbolinks: false } %></li>
    <li><%= link_to " Timetables", officer_timetables_url(@officer), class: 'mdi mdi-timetable', data: { turbolinks: false } %></li>
  </ul>
<% end %>

<% content_for :navbar do %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to ' New communication', new_communication_path(params: { officer_id: @officer.id }), {remote: true, id: "new-communication", 'data-toggle' =>  "modal", 'data-target' => '#communication-form-modal', class: 'btn btn-success mdi mdi-plus-circle'}  %>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto navbar-right">
    <li class="nav-item">
      <%= select_tag :expiry_date_select,
                     options_for_select(["All", "Valid", "Expired"]), class: "custom-select", style:"width:100px;"%>
    </li>
  </ul>
<% end %>
<div style="overflow: auto">
<table id="communications" class="table table-striped table-sm">
  <caption></caption>
  <thead>
  <caption></caption>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Start Time</th>
    <th scope="col">Expiry Time</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody id="communications-body">
  <%= render partial: 'communications/communication', collection: @communications.sort_by(&:start_date).reverse %>
  </tbody>
</table>
</div>

<div id="new-communication">
</div>

<script type="text/javascript">
    function loadCommunications(){
            $.ajax({
              type: 'GET',
              url: "/officers/<%= @officer.id %>/communications/",
                data: {
                    expiry_date_select: document.getElementById("expiry_date_select").value
                },
              contentType: "text/javascript",
        }).done(function(response){
        });
    }
    $(document).ready(function() {
            document.getElementById("expiry_date_select").onchange = loadCommunications;
    });

</script>

<%= render partial: 'communications/modal_show' %>

<%= render partial: 'communications/modal_form' %>
