<% content_for :sidebar do %>
  <div class="sidebar-header">
    <h3>Welcome <%= @officer.to_s %>!</h3>
  </div>

  <ul class="list-unstyled components">
    <p>Officer page</p>
    <li><%= link_to " Home", officer_path(@officer), class: 'mdi mdi-view-dashboard' %></li>
    <li><%= link_to " Students", officer_enrollment_url(@officer), class: 'mdi mdi-folder-account-outline' %></li>
    <li class="active"><%= link_to " Parents", officer_parents_url(@officer), class: 'mdi mdi-human-male-girl' %></li>
    <li><%= link_to " Class composition", officer_classes_url(@officer), class: 'mdi mdi-account-group' %></li>
  </ul>
<% end %>

<body>
  <table class="table table-striped">
    <tr>
      <th>Parent</th>
      <th>Child / Children</th>
      <th>Access Status</th>
      <th>Button</th>
    </tr>
    <% @parents.each do |parent| %>
    <tr>
      <td style="padding-top: 2.9%"><%= parent.name %> <%= parent.surname %></td>
      <td style="padding-top: 2.9%"><% parent.students.each do |child| %>
          <%= child.name %> <%= child.surname %> <br></td>
          <% end %>
      <td id="access-<%= parent.user.id %>">
        <% if parent.access_enabled == true %>
          <p style="color: green; margin-top: 5%">Enabled</p>
        <% else %>
          <p style="color: red; margin-top: 5%">Disabled</p>
        <% end %>
      </td>
      <td id="button-access-<%= parent.user.id %>">
      <% if parent.access_enabled == true %>
        <button class="btn btn-success" style="margin-top: 0%" disabled>Enable</button>
      <% else %>
        <button class="button-enable btn btn-success" style="margin-top: 0%" enabled id="<%= parent.user.id %>" >Enable</button>
      <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</body>

<script type="text/javascript">
  window.onload = () => {
      for(let i = 0; i < document.getElementsByClassName('button-enable').length; i++) {
          document.getElementsByClassName('button-enable')[i].onclick = () => {
              var userID = document.getElementsByClassName('button-enable')[i].id;
              $.ajax({
                  type: 'POST',
                  url: "parents/" + userID + "/enable",
                  contentType: "text/javascript",
                  success: function(data) {
                      console.log(data);
                  }
              });
          }
      }
  }
</script>

<%= link_to 'Edit', edit_officer_path(@officer) %> |
<%= link_to 'Back', officers_path %>
