<% content_for :sidebar do %>
  <div class="sidebar-header">
    <h3>Welcome <%= @officer.to_s %>!</h3>
  </div>

  <ul class="list-unstyled components">
    <p>Officer page</p>
    <li class="active"><%= link_to " Home", officer_path(@officer), class: 'mdi mdi-view-dashboard', data: { turbolinks: false } %></li>
    <li><%= link_to " Students", officer_enrollment_url(@officer), class: 'mdi mdi-folder-account-outline', data: { turbolinks: false } %></li>
    <li><%= link_to " Parents", officer_parents_url(@officer), class: 'mdi mdi-human-male-girl', data: { turbolinks: false } %></li>
    <li><%= link_to " Class composition", officer_classes_url(@officer), class: 'mdi mdi-account-group', data: { turbolinks: false } %></li>
    <li><%= link_to " Communications", officer_communications_url(@officer), class: 'mdi mdi-text-to-speech', data: { turbolinks: false } %></li>
    <li><%= link_to " Timetables", officer_timetables_url(@officer), class: 'mdi mdi-timetable', data: { turbolinks: false } %></li>
  </ul>
<% end %>
<div class="row">
  <div class="col-md-2" style="padding-right: 0px">
    <div class="avatar" style="position: relative; top: 0px; border-radius: 0px">
      <img src="<%= image_url('avatar.png') %>" alt="Avatar">
    </div>
  </div>
  <div class="col-md-4" style="text-align:left; padding-left:0px">
  Name: <%= @officer.to_s %> <br>
  E-mail: <%= @officer.user.email %> <br>
  Role: Officer <br>
  </div>
</div>
<br>
<div class="row">
<div class="col-md-12" style="text-align:left">
<br><br>
<span class="mdi mdi-frequently-asked-questions"><strong> FAQ</strong></span><br>
<dl>
<dt style="margin-top:3%"><em>Where can I enroll students?</em> </dt>
<dd> Here: <%= link_to " enroll students", officer_enrollment_url(@officer), data: { turbolinks: false } %>.<br></dd>
<dt style="margin-top:3%"><em>Where can I enable access to parents?</em> </dt>
<dd> Here: <%= link_to " enable access to parents", officer_parents_url(@officer), data: { turbolinks: false } %>.<br></dd>
<dt style="margin-top:3%"><em>Where can I compose classes?</em> </dt>
<dd> Here: <%= link_to " class composition", officer_classes_url(@officer), data: { turbolinks: false } %>.<br></dd>
<dt style="margin-top:3%"><em>Is it possible to enter classes using an excel file?</em> </dt>
<dd>Yes, it is. In the <%= link_to " class composition", officer_classes_url(@officer), data: { turbolinks: false } %> page, you have to
click on "Edit", then a dropdown menu will appear and you have to select "Upload an excel file".</dd>
<dt style="margin-top:3%"><em>Where can I publish communications?</em> </dt>
<dd> Here: <%= link_to " communications", officer_communications_url(@officer), data: { turbolinks: false } %>.</dd>
</dl>
</div>
</div>
