<% content_for :sidebar do %>
  <div class="sidebar-header">
    <h3>Welcome <%= @officer.to_s %>!</h3>
  </div>

  <ul class="list-unstyled components">
    <p>Officer page</p>
    <li><%= link_to " Home", officer_path(@officer), class: 'mdi mdi-view-dashboard', data: { turbolinks: false } %></li>
    <li class="active"><%= link_to " Students", officer_enrollment_url(@officer), class: 'mdi mdi-folder-account-outline', data: { turbolinks: false } %></li>
    <li><%= link_to " Parents", officer_parents_url(@officer), class: 'mdi mdi-human-male-girl', data: { turbolinks: false } %></li>
    <li><%= link_to " Class composition", officer_classes_url(@officer), class: 'mdi mdi-account-group', data: { turbolinks: false } %></li>
    <li><%= link_to " Communications", officer_communications_url(@officer), class: 'mdi mdi-text-to-speech', data: { turbolinks: false } %></li>
  </ul>
<% end %>
<div id="enrollment">
</div>
<div class="alert alert-success" role="alert" style="display: none" id="success_message_student">
</div>
<script>
$(document).ready(function(){
    $.ajax({
        type: 'POST',
        url: "/officers/<%= @officer.id %>/students/new",
        contentType: "text/javascript",
    });
})
</script>