<tr id="show-note_<%= note.id %>">
  <td><%= note.description %></td>
  <td><%= note.teacher %></td>
  <td><%= note.subject %></td>
  <td><%= note.student %></td>
  <td><%= note.date.strftime("%d/%m/%Y") %></td>
  <td><%= button_to 'Edit', edit_note_path(note), method: :get, class: 'btn btn-primary', id: "note-edit_#{note.id}", remote: true %></td>
  <% if note.created_at > (Time.now - 1.day) %>
    <td><%= button_to 'Delete', note_path(note), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger', id: "note-delete_#{note.id}", remote: true %></td>
  <% else %>
    <td><%= button_to 'Delete', note_path(note), disabled: true, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger disabled', id: "note-delete_#{note.id}", remote: true %></td>
  <% end %>
</tr>