<tr id="show-assignment_<%= assignment.id %>">
  <td><%= assignment.name %></td>
  <td><%= assignment.pretty_expiry_date %></td>
  <td><%= assignment.subject %></td>
  <td><%= assignment.school_class.class_to_s %></td>
  <td><%= assignment.teacher %></td>
  <td><%= assignment.lecture.name %></td>
</tr>