<%= form_with(model: @assignment) do |f| %>
  <div>
    <%= f.label :name %>
    <% if @assignment.name %>
      <%= f.select(:name, [[@assignment.name, @assignment.id]], {}, {:class => 'custom-select'}) %>
    <% else %>
      <%= f.text_field :name, class: 'form-control' %>
    <% end %>
  </div>
  <br/>
  <div>
    <%= f.label :expiry_date %>
      <%= f.text_field :expiry_date, class: 'form-control' %>
  </div>
  <br/>
  <div>
    <%= f.label :subject %>
    <% if @teacher %>
      <%= f.select(:subject, @teacher.subjects, {}, {:class => 'custom-select'}) %>
    <% else %>
      <%= f.text_field :subject, class: 'form-control' %>
    <% end %>
  </div>
  <br/>
  <div>
    <%= f.label :school_class %>
    <%= f.select(:school_class_id, SchoolClass.all.collect {|sc| [ sc.class_to_s, sc.id ] }, {}, {:class => 'custom-select'})%>
  </div>
  <br/>
  <div>
    <%= f.label :teacher %>
    <% if @teacher %>
     <%= f.select(:teacher_id, [[@teacher.to_s, @teacher.id]], {}, {:class => 'custom-select'}) %>
    <% else %>
      <%= f.select(:teacher_id, Teacher.all.collect {|t| [ t.surname, t.id ]}, {}, {:class => 'custom-select'})%>
    <% end %>
  </div>
  <br/>
  <div>
    <%= f.label :lecture %>
    <% if @assignment.lecture %>
      <%= f.select(:lecture_id, [[@assignment.lecture.name, @assignment.lecture.id]], {}, {:class => 'custom-select'}) %>
    <% else %>
      <%= f.select(:lecture_id, Lecture.all.collect {|l| [ l.name, l.id ]}, {}, {:class => 'custom-select'})%>
    <% end %>
  </div>
  <br/>
  <br />
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <br /><br />
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4">
        <%= f.submit :class => 'btn btn-success' %>
      </div>
  </div>
<% end %>