<form>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label class="col-form-label">Name:</label>
        <input type="text" class="form-control" value="<%= assignment.name %>" readonly>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label class="col-form-label">Subject:</label>
        <input type="text" class="form-control" value="<%= assignment.subject %>" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label class="col-form-label">Expiry Date:</label>
        <input type="text" class="form-control" value="<%= assignment.pretty_expiry_date %>" readonly>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label class="col-form-label">School Class:</label>
        <input type="text" class="form-control" value="<%= assignment.school_class.class_to_s %>" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label class="col-form-label">Teacher:</label>
        <input type="text" class="form-control" value="<%= assignment.teacher %>" readonly>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label class="col-form-label">Lecture:</label>
        <input type="text" class="form-control" value="<%= assignment.lecture.name + ' in date ' + assignment.lecture.start_time.to_date.strftime("%d/%m/%Y") %>" readonly>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-form-label">Description:</label>
    <textarea class="form-control" id="message-text" readonly><%= assignment.description %></textarea>
  </div>
  <% if assignment.file.url.present? %>
    <div class="form-group">
      <label class="col-form-label">Additional material:</label>
        <a href="<%= assignment.file.url%>" download>
          <button type="button" class="btn btn-primary">
            Download
          </button>
        </a>
    </div>
  <% end %>
</form>