<tr id="lecture-row_<%= lecture.id %>">
  <td><%= lecture.name %></td>
  <td><%= lecture.subject %></td>
  <td><%= lecture.school_class.class_to_s %></td>
  <td><%= lecture.topics %></td>
  <td><%= lecture.date %></td>
  <td><%= link_to 'Edit', edit_lecture_path(lecture), class: 'btn btn-primary', id: "lecture-edit_#{lecture.id}", remote: true %></td>
  <% if lecture.start_time > (Time.now - 86400) %>
    <td><%= link_to 'Delete', lecture_path(lecture), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger', id: "lecture-delete_#{lecture.id}", remote: true %></td>
  <% end %>
</tr>