<tr id="lecture-row_<%= lecture.id %>">
  <td><%= lecture.name %></td>
  <td><%= lecture.subject %></td>
  <td><%= lecture.school_class.class_to_s %></td>
  <td><%= lecture.topics %></td>
  <td><%= lecture.date %></td>
  <td><%= button_to 'Show', lecture_path(lecture), method: :get, class: 'btn btn-primary' %></td>
  <td><%= button_to 'Edit', edit_lecture_path(lecture), method: :get, class: 'btn btn-secondary', id: "lecture-edit_#{lecture.id}", remote: true %></td>
  <% if lecture.start_time > (Time.now - 1.day) %>
    <td><%= button_to 'Delete', lecture_path(lecture), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger', id: "lecture-delete_#{lecture.id}", remote: true %></td>
  <% else %>
    <td><%= button_to 'Delete', lecture_path(lecture), disabled: true, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger disabled', id: "lecture-delete_#{lecture.id}", remote: true %></td>
  <% end %>
</tr>