<div>
  <h1>
    Lectures
  </h1>
</div>
<div>
  <table>
    <th>Name</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Topics</th>
    <th>Subject</th>
    <th>Duration</th>
    <th>Teacher</th>
    <th>Class</th>
    <th></th>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= lecture.name%></td>
        <td><%= lecture.start_time&.to_date&.strftime("%d/%m/%Y") %></td>
        <td><%= lecture.end_time&.to_date&.strftime("%d/%m/%Y") %></td>
        <td><%= lecture.topics %></td>
        <td><%= lecture.subject %>
        <td><%= lecture.duration&.to_s %></td>
        <td><%= lecture.teacher&.to_s %></td>
        <td><%= lecture.school_class&.class_to_s %></td>
        <td><%= button_to "Edit", edit_lecture_path(lecture), method: :get %></td>
      </tr>
    <% end %>
  </table>
</div>