<% content_for :navbar do %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to " Back to teacher view", teacher_lectures_path(@lecture.teacher, school_class_id: @lecture.school_class), class: "btn btn-primary mdi mdi-arrow-left", id: "back-to-teacher"%>
    </li>
  </ul>
  <span class="navbar-brand"><%= @lecture.name %></span>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-3" style="border-right: solid 2px #74a4b5; box-shadow: 5px 0 5px -5px #555;">
    <div class="col-sm">
      <h3>School Class: <%= @lecture.school_class.class_to_s %></h3>
    </div>
    <div class="col-sm">
      <h3>Subject: <%= @lecture.subject %></h3>
    </div>
    <div class="col-sm">
      <h3>Date: <%= @lecture.date %></h3>
    </div>
    <br>
    <%= form_with(model: @lecture, id: "topics-edit") do |f| %>
      <div class="col-md-12">
        <%= f.text_area :topics %>
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <br>
          <%= f.submit "Update Topics", id: "submit-topics-edit", disabled: "disabled", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-9">
    <ul class="nav nav-tabs" id="nav-tab-lecture" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="nav-attendance-tab" data-toggle="tab" href="#nav-attendance" role="tab" aria-controls="nav-attendance" aria-selected="true">Students' attendance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav-marks-tab" data-toggle="tab" href="#nav-marks" role="tab" aria-controls="nav-marks" aria-selected="true">Marks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav-assignments-tab" data-toggle="tab" href="#nav-assignments" role="tab" aria-controls="nav-assignments" aria-selected="true">Assignments</a>
      </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="nav-attendance" role="tabpanel" aria-labelledby="nav-attendance-tab">
        <br>
        <table id="attendances" class="table table-striped table-sm" style="table-layout: fixed;">
          <thead>
          <tr>
            <th>Student</th>
            <th>Attendance</th>
          </tr>
          </thead>
          <tbody id="attendances-body">
          <%= render partial: 'attendances/attendance', collection: @lecture.school_class.attendances.sort_by{ |a| a[:student_name] } %>
          </tbody>
        </table>
        <div>
          <button class="btn btn-success" id="submit-attendances" disabled onclick="update_attendances()">Send Data</button>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-marks" role="tabpanel" aria-labelledby="nav-marks-tab">
        <br>
        <%= link_to ' Add mark', new_mark_path(params: { school_class_id: @lecture.school_class, teacher_id: @lecture.teacher }), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#mark-modal', class: 'btn btn-primary mdi mdi-plus-circle', id: 'new_mark_lecture'}  %>
        <br>
        <table id="marks" class="table table-striped table-sm" style="table-layout: fixed;">
          <thead>
          <tr>
            <th>Teacher</th>
            <th>Mark</th>
            <th>Subject</th>
            <th>Student</th>
            <th>Mark date</th>
            <th>Notes</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody id="marks-body">
          <%= render partial: 'marks/mark', collection: @lecture.teacher.marks.sort_by(&:date) %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="nav-assignments" role="tabpanel" aria-labelledby="nav-assignments-tab">
        <br>
        <%= link_to " Add Assignments", new_assignment_path(params: { school_class_id: @lecture.school_class, teacher_id: @lecture.teacher, lecture_id: @lecture.id }),
                    {remote: true, 'data-toggle' => "modal", 'data-target' => '#assignment-modal', class: 'btn btn-primary mdi mdi-plus-circle', id: 'new_assignment_lecture'} %>
        <br>
        <table id="assignments">
          <thead>
          <tr>
            <th>Name</th>
            <th>Subject</th>
            <th>Expiry Date</th>
            <th>School Class</th>
            <th>Teacher</th>
            <th>Lecture</th>
            <th colspan="3"></th>
          </tr>
          </thead>
          <tbody id="assignments-body">
          <%= render partial: 'assignments/assignment', collection: @lecture.teacher.assignments.where('expiry_date > ?', @lecture.start_time).where(subject: @lecture.subject).sort_by(&:expiry_date) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'marks/modal_form' %>
<%= render partial: 'assignments/modal_form' %>
<%= render partial: 'assignments/modal_show' %>

<script type="text/javascript">
    $(document).on('ready turbolinks:load', function (e) {
        $('input[type=checkbox][data-toggle^=toggle]').bootstrapToggle();
    });
    $(document).ready(function () {
        var today = new Date();
        var lecture_date = new Date("<%= @lecture.date.split('/').reverse.join('-') %>");
        if(today > new Date(lecture_date.getTime() + 86400000) || today < new Date(lecture_date.getTime() - 86400000)) { disable_clickable() }
    });
    function disable_clickable() {
        $('a:not(#back-to-teacher, .nav-link)').addClass('disabled');
        $('a:not(#back-to-teacher, .nav-link)').prop('disabled', true);
        $('input, .toggle').prop('disabled', true);
        $('input, .toggle').addClass('disabled');
    }
    function get_attendances() {
        var students_ids = {
            absents: [],
            presents: []
        };
        $('input[type="checkbox"]').each(function(){
            if(this.checked){ students_ids['presents'].push(this.id)}
            else { students_ids['absents'].push(this.id)}
        });
        return students_ids;
    }
    function update_attendances(){
        var students_ids = get_attendances();
        $.ajax({
            type: 'POST',
            url: "/lectures/<%= @lecture.id %>/attendances",
            data: { "school_class_id": "<%= @lecture.school_class.id %>", "students_ids": students_ids},
            success: function (data) {
                console.log(data);
            }
        })
    }
    $(document).on('change','#attendances > tbody > tr > td',function(){
        $('#submit-attendances').prop("disabled", false)
    });
    $(document).on('keyup', '#topics-edit input[type=text]', function () {
        $('input[type=submit]').prop('disabled', false);
    });
    $('form#topics-edit input[type=submit]').click( function () {
        $(this).prop("disabled", true);
        $('form#topics-edit').submit();
    })
</script>