<%= form_for @student, :remote => true do |f| %>
<h4 style="text-align: left">Student</h4>
<br>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="col-xs-12 col-md-4">
        <%= f.label :surname %>
        <%= f.text_field :surname, class: 'form-control' %>
    </div>
    <div class="col-xs-12 col-md-4">
        <%= f.label :birth_date %>
        <%= f.date_field(:birth_date, start_year: (Date.today - 20.years).year, end_year: Date.today.year, class: 'form-control') %>
    </div>
</div>
<br />
        <%= f.label :fiscal_code %>
        <%= f.text_field :fiscal_code, class: 'form-control' %>
<br />
        <%= f.label :enrollment_date %>
        <%= f.date_field(:enrollment_date, start_year: (Date.today - 10.years).year, end_year: Date.today.year, class: 'form-control') %>
<br />
<br />
<% if action_name == "edit" %>
    <div>
        <%= f.label "Select a classroom" %>
        <%= f.select :school_class_id, SchoolClass.available_classes.map{ |c| [c.class_to_s, c.id]} %>
    </div>
    <br /><br />
<% end %>
<h5 style="text-align: left">Parent 1</h5>
<br>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <%= f.label "Name" %>
                <%= text_field_tag :first_parent_name, @student.first_parent_name, :required => true, class: 'form-control' %>
            </div>
            <div class="col-xs-12 col-md-6">
                <%= f.label "Surname" %>
                <%= text_field_tag :first_parent_surname, @student.first_parent_surname, :required => true, class: 'form-control' %>
            </div>
        </div>
        <br />
        <%= f.label "E-mail" %>
        <%= text_field_tag :first_parent_email, @student.first_parent_email, :required => true, class: 'form-control' %>
<br />

<br>
<h5 style="text-align: left">Parent 2</h5>
<br>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <%= f.label "Name*" %>
            <%= text_field_tag :second_parent_name, @student.second_parent_name, class: 'form-control' %>
        </div>
        <div class="col-xs-12 col-md-6">
            <%= f.label "Surname*" %>
            <%= text_field_tag :second_parent_surname, @student.second_parent_surname, class: 'form-control' %>
        </div>
    </div>
    <br>
        <%= f.label "E-mail*" %>
        <%= text_field_tag :second_parent_email, @student.second_parent_email, class: 'form-control' %>
<br />
<br /><br />
<div class="row">
<div class="col-md-4"></div>
    <div class="col-md-4">
        <%= f.submit :class => 'btn btn-success' %>
    </div>
</div>
<br>
<div>
<p style="text-align: left;">*optional fields.</p>
</div>
<% end %>