<%= form_for @student do |f| %>
<div>
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>
<br />
<div>
    <%= f.label :surname %>
    <%= f.text_field :surname %>
</div>
<br />
<div>
    <%= f.label :fiscal_code %>
    <%= f.text_field :fiscal_code %>
</div>
<br />
<div>
    <%= f.label :birth_date %>
    <%= f.date_field(:birth_date, start_year: (Date.today - 20.years).year, end_year: Date.today.year) %>
</div>
<br />
<div>
    <%= f.label :enrollment_date %>
    <%= f.date_field(:enrollment_date, start_year: (Date.today - 10.years).year, end_year: Date.today.year) %>
</div>
<br />
<h6>Parent 1</h6>
<div>
    <%= f.label "Name" %>
    <%= text_field_tag :first_parent_name, @student.first_parent_name, :required => true %>
</div>
<div>
    <%= f.label "Surname" %>
    <%= text_field_tag :first_parent_surname, @student.first_parent_surname, :required => true %>
</div>
<br />
<div>
    <%= f.label "E-mail" %>
    <%= text_field_tag :first_parent_email, @student.first_parent_email, :required => true %>
</div>
<h6>Parent 2</h6>
<div>
    <%= f.label "Name" %>
    <%= text_field_tag :second_parent_name, @student.second_parent_name %>
</div>
<div>
    <%= f.label "Surname" %>
    <%= text_field_tag :second_parent_surname, @student.second_parent_surname %>
</div>
<br />
<div>
    <%= f.label "E-mail" %>
    <%= text_field_tag :second_parent_email, @student.second_parent_email %>
</div>
<br /><br />
<% if action_name == "edit" %>
    <div>
        <%= f.label "Select a classroom" %>
        <%= f.select :school_class_id, SchoolClass.available_classes.map{ |c| [c.class_to_s, c.id]} %>
    </div>
    <br /><br />
<% end %>
<div>
    <%= f.submit %>
</div>
<% end %>