<tr id="student-row_<%= student.id %>">
  <td><%= student.surname %></td>
  <td><%= student.name %></td>
  <td><%= student.fiscal_code %></td>
  <td><%= student.birth_date %></td>
  <td><%= student.enrollment_date %></td>
</tr>