<%= form_for @student do |f| %>
<div>
    <%= f.label :parent_name %>
    <%= f.text_field :params["parent_name"] %>
</div>
<br />
<div>
    <%= f.label :parent_surname %>
    <%= f.text_field :params["parent_surname"] %>
</div>
<br />
<div>
    <%= f.label :parent_mail %>
    <%= f.text_field :params["parent_mail"] %>
</div>
<br />
<br /><br />
<div>
    <%= f.submit %>
</div>
<% end %>