<div>
    Name: <%= @student.name %>
</div>
<br />
<div>
    Surname: <%= @student.surname %>
</div>
<br />
<div>
    Fiscal code: <%= @student.fiscal_code %>
</div>
<br />
<div>
    Birth date: <%= @student.birth_date&.strftime("%d/%m/%Y") %>
</div>
<br />
<div>
    Enrollment date: <%= @student.enrollment_date&.strftime("%d/%m/%Y") %>
</div>