<h4 style="text-align: left">Students' list:</h4>
<br>
<div style="overflow: auto">
<table id="class_table-<%= @school_class.id %>" data-sortable="true" class="table table-striped table-sm">
<thead>
<tr>
<th scope="col">Select</th>
<th scope="col">Surname</th>
<th scope="col">Name</th>
<th scope="col">SSN</th>
<th scope="col">Date of birth</th>
<th scope="col">Enrollment date</th>
</tr>
</thead>
<tbody id="class_view-<%= @school_class.id %>">
<%= render partial: 'students/student_class',  collection: @students, locals: {checked: 'checked'}%>
<%= render partial: 'students/student_class',  collection: @students_available, locals: {checked: ''}%>
</tbody>
</table>
</div>
<br>
<button class="btn btn-success" id="confirmclass"><span class="mdi mdi-check-bold"> Confirm</span></button>

<script>

$(document).ready(function(){
    $("#back").click(function(){
        $.ajax({
        type: 'GET',
        url: "class_composition/" + "<%= @school_class.id %>", 
        contentType: "text/javascript",
        }).done(function(){
            $("#back").css("display", "none");
        })
    });
    $("#back").css("display", "block");
    var students_selected = [];
    function updateClass(){
        $.ajax({
            type: 'POST',
            url: "/school_classes/update/<%= @school_class.id %>", 
            data: {students_to_add: students_selected}
        }).done(function(response){
            $.ajax({
                type: 'GET',
                url: "class_composition/" + "<%= @school_class.id %>", 
                contentType: "text/javascript",
            }).done(function(response){
                    $("#back").css("display", "none");
                });
         });
    };
    $('#confirmclass').click(function(){
        $("#class_table-<%= @school_class.id %> > tbody  > tr").each(function() {
            let student_row = this.id.split('_')[1];    // student_row is the id of the student
            if($("#check-" + student_row)[0].checked){  // if the student is selected
                students_selected.push(student_row);    
            }
        });
        updateClass();
    });
})

</script>