<tr id="assignment-row_<%= assignment.id %>">
  <td><%= assignment.name %></td>
  <td><%= assignment.pretty_expiry_date %></td>
  <td><%= assignment.subject %></td>
  <td><%= assignment.lecture.name %></td>
  <td><%= link_to 'Info', assignment_url(assignment), {remote:true, 'data-toggle' => "modal", 'data-target' => "#assignment-show-modal", class: 'btn btn-primary'} %></td>
  <td><%= link_to 'Edit', edit_assignment_path(assignment), class: 'btn btn-primary', id: "assignment-edit_#{assignment.id}", remote: true %></td>
  <% if assignment.created_at > (Time.now - 1.day) %>
    <td><%= link_to 'Delete', assignment_path(assignment), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger', id: "assignment-delete_#{assignment.id}", remote: true %></td>
  <% end %>
</tr>