<%= form_with url: teachers_path do |f| %>
  <div>
    <%= f.label "Teacher"%>
  </div>
  <div>
    <%= f.label "Name"%>
    <%= f.text_field :name, class: 'form-control', required: '' %>
  </div>
  <br />
  <div>
    <%= f.label "Surname"%>
    <%= f.text_field :surname, class: 'form-control', required: '' %>
  </div>
  <br />
  <div>
    <%= f.label "E-mail"%>
    <%= f.text_field :email, class: 'form-control', required: '' %>
  </div>
  <br />
  <div>
    <!--    Not mandatory-->
    <%= f.label "School classes" %>
    <% @school_classes = SchoolClass.all %>
    <%= f.select :school_class, @school_classes.collect{|sc| [sc.class_to_s, sc.id]}, {}, {:class => 'custom-select'} %>
  </div>
  <br />
  <div>
    <!--    Not mandatory-->
    <%= f.label "Subjects: (example: Math Physics Science)"%>
    <%= f.text_field :subjects, class: 'form-control' %>
  </div>
  <br />
  <br /><br />
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
      <%= f.submit :class => 'btn btn-success'%>
    </div>
  </div>
<% end %>
