<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
<div class="sidenav">
  <h2 class="hellouser">
    Hello, <%= @teacher.to_s %>!
  </h2>
  <div class="navcontent">
    <%= link_to "<span class = 'mdi mdi-view-dashboard'> Home</span>".html_safe, teacher_path(@teacher) %>
    <%= link_to "<span class = 'mdi mdi-teach'> Lectures</span>".html_safe, teacher_lectures_url, class: "active" %>
    <%= link_to "<span class = 'mdi mdi-bookmark'> Marks</span>".html_safe, teacher_marks_url %>
  </div>
</div>

<div class="main">
  <table id="lectures" class="table">
    <thead>
    <tr>
      <th scope="col">Lecture</th>
      <th scope="col">Subject</th>
      <th scope="col">Class</th>
      <th scope="col">Topics</th>
      <th scope="col">Date</th>
      <th colspan="3"></th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody id="lectures-body">
    <%= render partial: 'lecture', collection: @lectures.sort_by(&:start_time) %>
    </tbody>
  </table>

  <div id="new-lecture">
    <%= link_to " Create lecture", new_lecture_path(params: { teacher_id: @teacher.id }), class: "btn btn-success mdi mdi-plus-circle", remote: true %>
  </div>
</div>
