<% content_for :sidebar do %>
  <div class="sidebar-header">
    <h3>Welcome <%= @teacher.to_s %>!</h3>
  </div>

  <ul class="list-unstyled components">
    <p>Teacher page</p>
    <li><%= link_to " Home", teacher_path(@teacher), class: 'mdi mdi-view-dashboard' %></li>
    <li><%= link_to " Lectures", teacher_lectures_url, class:'mdi mdi-teach' %></li>
    <li class="active"><%= link_to " Marks", teacher_marks_url, class: 'mdi mdi-bookmark' %></li>  </ul>
<% end %>

<div class="main">
  <table id="marks">
    <thead>
    <tr>
      <th>Teacher</th>
      <th>Mark</th>
      <th>Subject</th>
      <th>Student</th>
      <th>Mark date</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody id="marks-body">
    <%= render partial: 'mark', collection: @marks.sort_by(&:mark) %>
    </tbody>
  </table>

  <div id="new-mark">
    <%= link_to "Create mark", new_mark_path(params: { teacher_id: @teacher.id }), remote: true %>
  </div>
</div>

