<% content_for :sidebar do %>
  <div class="sidebar-header">
    <h3>Welcome <%= @teacher.to_s %>!</h3>
  </div>

  <ul class="list-unstyled components">
    <p>Teacher page</p>
    <li><%= link_to " Home", teacher_path(@teacher), class: 'mdi mdi-view-dashboard', data: { turbolinks: false } %></li>
    <li><%= link_to " Lectures", teacher_lectures_url, class:'mdi mdi-teach', data: { turbolinks: false } %></li>
    <li class="active"><%= link_to " Marks", teacher_marks_url, class: 'mdi mdi-bookmark', data: { turbolinks: false } %></li>
    <li><%= link_to " Assignments", teacher_assignments_url, class: 'mdi mdi-book-open', data: { turbolinks: false } %></li>
    <li><%= link_to " Materials", teacher_materials_url, class: 'mdi mdi-library-books', data: { turbolinks: false } %></li>
  </ul>
<% end %>

<% content_for :navbar do %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to ' Create Mark', new_mark_path(params: { teacher_id: @teacher.id }), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#mark-modal', class: 'btn btn-success mdi mdi-plus-circle'}  %>
    </li>
  </ul>
<% end %>

<div id="new-mark">
</div>

<div style="overflow: auto">
<table id="marks" data-sortable="true" class="table table-striped table-sm">
  <thead>
  <tr>
    <th>Teacher</th>
    <th>Mark</th>
    <th>Subject</th>
    <th>Student</th>
    <th>Mark date</th>
    <th>Notes</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody id="marks-body">
  <%= render partial: 'marks/mark', collection: @marks.sort_by(&:date) %>
  </tbody>
</table>
</div>

<%= render partial: 'marks/modal_form' %>

