<% content_for :sidebar do %>
  <div class="sidebar-header">
    <h3>Welcome <%= @teacher.to_s %>!</h3>
  </div>

  <ul class="list-unstyled components">
    <p>Teacher page</p>
    <li class="active"><%= link_to " Home", teacher_path(@teacher), class: 'mdi mdi-view-dashboard' %></li>
    <li><%= link_to " Lectures", teacher_lectures_url, class:'mdi mdi-teach' %></li>
    <li><%= link_to " Marks", teacher_marks_url, class: 'mdi mdi-bookmark' %></li>
    <li><%= link_to " Assignments", teacher_assignments_url, class: 'mdi mdi-book-open', data: { turbolinks: false } %></li>
    <li><%= link_to " Materials", teacher_materials_url, class: 'mdi mdi-library-books' %></li>
  </ul>
<% end %>
<div class="row">
  <div class="col-md-2" style="padding-right: 0px">
    <div class="avatar" style="position: relative; top: 0px; border-radius: 0px">
      <img src="<%= image_url('avatar.png') %>" alt="Avatar">
    </div>
  </div>
  <div class="col-md-4" style="text-align:left; padding-left:0px">
  Name: <%= @teacher.to_s %> <br>
  E-mail: <%= @teacher.user.email %> <br>
  Role: Teacher <br>
  </div>
</div>
<br>
<div class="row">
<div class="col-md-12" style="text-align:left">
<br><br>
<span class="mdi mdi-frequently-asked-questions"><b> FAQ</b></span><br>
<dt style="margin-top:3%"><i>Where can I add marks to students?</i> </dt>
<dd>You can go on <%= link_to " marks", teacher_marks_url, data: { turbolinks: false } %> page: here you can add one by one the marks.
Or you can go on <%= link_to " lectures", teacher_lectures_url, data: { turbolinks: false } %> and add a mark related to a specified lecture.</dd>
<dt style="margin-top:3%"><i>Where can I manage my lectures?</i> </dt>
<dd> Here: <%= link_to " marks", teacher_lectures_url, data: { turbolinks: false } %>.</dd>
<dt style="margin-top:3%"><i>Is it possible to enter supporting materials for my subjects?</i> </dt>
<dd> Yes, you can go here: <%= link_to " supporting materials", teacher_materials_url, data: { turbolinks: false } %>.</dd>
</div>
</div>
