<tr id="assignment-row_<%= communication.id %>">
  <td><%= communication.title %></td>
  <td><%= communication.start_date %></td>
  <td><%= communication.expiry_date %></td>
  <td><%= link_to 'Show', communication_url(communication), {remote:true, 'data-toggle' => "modal", 'data-target' => "#communication-show-modal", class: 'btn btn-primary btn-sm'} %></td>
  <% if communication.expiry_date > (Time.now - 1.day) %>
    <td><%= link_to 'Edit', edit_communication_path(communication), class: 'btn btn-primary', id: "communication-edit_#{communication.id}", remote: true %></td>
    <td><%= link_to 'Delete', communication_path(communication), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger', id: "communication-delete_#{communication.id}", remote: true %></td>
  <% end %>
</tr>