if(document.getElementById('communication-row_<%= @communication.id %>')) {
    document.getElementById('communication-row_<%= @communication.id %>').insertAdjacentHTML('afterend', "<tr id='edit-form_<%= @communication.id %>'><td colspan=6><%= j render 'form', communication: @communication %></td></tr>")
    $('a').addClass("disabled")
    $('#communication-edit_<%= @communication.id %>').replaceWith("<a class='btn btn-warning' id='undo-edit-communication_<%= @communication.id %>'>Undo</a>")
    $('tr:not(#edit-form_<%= @communication.id %>,#communication-row_<%= @communication.id %>)').addClass('blur-filter')

    $('#undo-edit-communication_<%= @communication.id %>').click(function (e) {
        e.preventDefault();
        $('a').removeClass("disabled");
        $('.blur-filter').removeClass('blur-filter');
        document.getElementById('edit-form_<%= @communication.id %>').remove()
        $('#communication-row_<%= @communication.id %>').replaceWith("<%= j render @communication %>")
        return false;
    });
}