<tr id="communication-row_<%= communication.id %>">
  <td><%= communication.title %></td>
  <td><%= communication.start_date %></td>
  <td><%= communication.expiry_date %></td>
  <td><%= link_to 'Show', communication_url(communication), {remote:true, 'data-toggle' => "modal", 'data-target' => "#communication-show-modal", class: 'btn btn-primary'} %></td>
</tr>