<tr id="show-note_<%= note.id %>">
  <td><%= note.description %></td>
  <td><%= note.teacher %></td>
  <td><%= note.subject %></td>
  <td><%= note.student %></td>
  <td><%= note.date.strftime("%d/%m/%Y") %></td>
</tr>