<%= javascript_include_tag "core/main.js" %>
<%= javascript_include_tag "daygrid/main.js" %>
<%= javascript_include_tag "timegrid/main.js" %>
<%= javascript_include_tag "list/main.js" %>
<%= javascript_include_tag "interaction/main.js" %>
<%= stylesheet_link_tag "core/main.css" %>
<%= stylesheet_link_tag "daygrid/main.css" %>

<script type="text/javascript">
  var calendar;

    function handleMouseEnterAndLeave(formattedDate, backgroundColor, firstBackgroundColor = null) {
        if( $('[data-date = ' + formattedDate + ']')[0].children[0].getAttribute('present') == null ) {
            if (firstBackgroundColor != null) {
                $('[data-date = ' + formattedDate + ']').mouseenter(function () {
                    $('[data-date = ' + formattedDate + ']')[0].children[0].style.backgroundColor = firstBackgroundColor;
                    $('[data-date = ' + formattedDate + ']')[0].children[1].style.backgroundColor = backgroundColor;
                });
                $('[data-date = ' + formattedDate + ']').mouseleave(function () {
                    $('[data-date = ' + formattedDate + ']')[0].children[0].style.backgroundColor = "";
                    $('[data-date = ' + formattedDate + ']')[0].children[1].style.backgroundColor = "";
                });
            } else {
                $('[data-date = ' + formattedDate + ']').mouseenter(function () {
                    $('[data-date = ' + formattedDate + ']')[0].children[0].style.backgroundColor = backgroundColor;
                });
                $('[data-date = ' + formattedDate + ']').mouseleave(function () {
                    $('[data-date = ' + formattedDate + ']')[0].children[0].style.backgroundColor = "";
                });
            }
        }
        else {
            $('[data-date = ' + formattedDate + ']').off('mouseenter');
            $('[data-date = ' + formattedDate + ']').off('mouseleave');
        }
    }

    function addSecondCircle(formattedDate, formattedHour, lateCircle) {
        let circle = $('[data-date = ' + formattedDate + ']')[0].children[0];
        circle.style.marginLeft = "6%";
        circle.style.cssFloat = "left";

        let newCircle = document.createElement('div');
        newCircle.style.height = "50%";
        newCircle.style.width = "38%";
        newCircle.style.marginTop = "33%";
        newCircle.style.marginRight = "6%";
        newCircle.style.borderRadius = "50%";
        newCircle.style.cssFloat = "right";
        if( lateCircle == true ) {
            newCircle.setAttribute('late', formattedHour);
            newCircle.classList.add('late');
        }
        else {
            newCircle.setAttribute('early', formattedHour);
            newCircle.classList.add('early');
        }
        newCircle.classList.add('attendance-notice');
        $('[data-date = ' + formattedDate + ']')[0].appendChild(newCircle);
    }

    function colorCalendar() {
        let firstBackgroundColor = null;

        <% @attendances.each do |attendance| %>
        <% if attendance.absence_type == "Absent" %>
        if( $('[data-date = <%= attendance.formatted_date %>]')[0] ) {
            handleMouseEnterAndLeave("<%= attendance.formatted_date %>", "#B00700");
            $('[data-date = <%= attendance.formatted_date %>] div').addClass('absent');
            $('[data-date = <%= attendance.formatted_date %>]').addClass('attendance-notice');
            $('[data-date = <%= attendance.formatted_date %>]')[0].children[0].setAttribute('absent', '');
        }
        <% end %>
        <% if attendance.absence_type == "Late" %>
        if( $('[data-date = <%= attendance.formatted_date %>]')[0] ) {
            if( $('[data-date = <%= attendance.formatted_date %>]')[0].children[0].classList.contains('early') ) { // late entry and early exit in the same day
                addSecondCircle('<%= attendance.formatted_date %>', '<%= attendance.formatted_enters_at %>', true);
                firstBackgroundColor = "gold";
                handleMouseEnterAndLeave("<%= attendance.formatted_date %>", "#EB862D", firstBackgroundColor);
                $('[data-date = <%= attendance.formatted_date %>]')[0].children[1].setAttribute('late', '<%= attendance.formatted_enters_at %>');
            }
            else {
                $('[data-date = <%= attendance.formatted_date %>] div')[0].classList.add('late');
                handleMouseEnterAndLeave("<%= attendance.formatted_date %>", "#EB862D");
                $('[data-date = <%= attendance.formatted_date %>]')[0].children[0].setAttribute('late', '<%= attendance.formatted_enters_at %>');
            }
            $('[data-date = <%= attendance.formatted_date %>]').addClass('attendance-notice');
        }
        <% end %>
        <% if attendance.absence_type == "Earl" %>
        if( $('[data-date = <%= attendance.formatted_date %>]')[0] ) {
            if( $('[data-date = <%= attendance.formatted_date %>]')[0].children[0].classList.contains('late') ) { // late entry and early exit in the same day
                addSecondCircle('<%= attendance.formatted_date %>', '<%= attendance.formatted_exits_at %>', false);
                firstBackgroundColor = "#EB862D";
                handleMouseEnterAndLeave("<%= attendance.formatted_date %>", "gold", firstBackgroundColor);
                $('[data-date = <%= attendance.formatted_date %>]')[0].children[1].setAttribute('early', '<%= attendance.formatted_exits_at %>');
            }
            else {
                $('[data-date = <%= attendance.formatted_date %>] div')[0].classList.add('early');
                handleMouseEnterAndLeave("<%= attendance.formatted_date %>", "gold");
                $('[data-date = <%= attendance.formatted_date %>]')[0].children[0].setAttribute('early', '<%= attendance.formatted_exits_at %>');
            }
            $('[data-date = <%= attendance.formatted_date %>]').addClass('attendance-notice');
        }
        <% end %>
        <% end %>

        for(let i = 0; i < $('[data-date]').length; i++) {
            let presentAtSchoolDate = ! ($('[data-date]')[i].children[0].classList.contains('absent') || $('[data-date]')[i].children[0].classList.contains('late') || $('[data-date]')[i].children[0].classList.contains('early'));
            let notFutureDate = $('[data-date]')[i].style.backgroundColor != "rgb(241, 241, 241)";
            if( presentAtSchoolDate && notFutureDate && $('[data-date]')[i].children[0].tagName == "DIV" ) {
                $('[data-date]')[i].children[0].style.backgroundColor = "lightgreen";
                $('[data-date]')[i].children[0].setAttribute('present', '');
            }
        }
    }

    function setStudentSelectListener() {
        document.getElementById("student_select").value = "<%= @student.id %>";
        document.getElementById("student_select").onchange = function () {
            loadAttendances(document.getElementById("student_select").value);
        };
    }

    function initializeCalendar() {
        var calendarEl = document.getElementById('calendar');

        calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid', 'timeGrid', 'list', 'interaction' ]
        }, {
            header: { center: 'dayGridMonth,timeGridWeek' }, // buttons for switching between views

            views: {
                dayGridMonth: { // name of view
                    titleFormat: { year: 'numeric', month: '2-digit', day: '2-digit' }
                    // other view-specific options here
                }
            }
        });

        calendar.on('dateClick', function(info) {
            fillAttendanceTable(info)
        });

        calendar.render();
    }

    function loadAttendances(student_id) {
        $.ajax({
            type: 'GET',
            url: "/parents/<%= @parent.id %>/attendances/" + student_id + "/" + (calendar.getDate().getMonth()+1),
            content_type: "text/javascript"
        }).done(function (response) {

        });
    }

    function makeDaysClickable() {
        for(let i = 0; i < $('[data-date]').length; i++) {
            if( $('[data-date]')[i].classList.contains('attendance-notice') ) {
                $('[data-date]')[i].style.cursor = "pointer";
            }
            else {
                $('[data-date]')[i].style.cursor = "";
            }
        }
    }

    function returnToOriginalTableHeaders() {
        let enters = $('#table-attendance')[0].rows[0].appendChild(document.createElement('th'));
        enters.innerHTML = "Enters at";
        let exits = $('#table-attendance')[0].rows[0].appendChild(document.createElement('th'));
        exits.innerHTML = "Exits at";
    }

    function fillAttendanceTable(info) {
        if( $('[data-date = ' + info.dateStr + ']')[0].classList.contains('attendance-notice') ) {
            let modal = document.getElementById("myModal");
            modal.style.display = "block";
            let span = document.getElementsByClassName("close")[0];
            span.onclick = function() {
                modal.style.display = "none";
            };
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };

            let rows = $('#table-attendance')[0].rows.length;
            for(let i = 1; i < rows; i++) {
                $('#table-attendance')[0].deleteRow(1);
            }

            if( $('.panel-body table th').length == 2 ) {
                returnToOriginalTableHeaders();
            }
            else if( $('.panel-body table th').length == 3 ) {
                $('.panel-body table tr').find('td:eq(3), th:nth-child(3)').remove();
                returnToOriginalTableHeaders();
            }

            for(let i = 0; i < $('[data-date = ' + info.dateStr + ']')[0].children.length; i++) {
                let row = $('#table-attendance')[0].insertRow(i+1);
                let cell1 = row.insertCell(0);
                let cell2 = row.insertCell(1);

                if ($('#panel-table')[0].style.visibility == "hidden") {
                    $('#panel-table')[0].style.visibility = "visible";
                }

                cell1.innerHTML = info.dateStr;

                if ($('[data-date = ' + info.dateStr + ']')[0].children[i].getAttribute('absent') != null) {
                    cell2.innerHTML = "Absent";
                    $('.panel-body table tr').find('td:eq(4), th:nth-child(4)').remove();
                    $('.panel-body table tr').find('td:eq(3), th:nth-child(3)').remove();
                }
                else if ($('[data-date = ' + info.dateStr + ']')[0].children[i].getAttribute('late') != null) {
                    cell2.innerHTML = "Late entry";
                    if( $('[data-date = ' + info.dateStr + ']')[0].children.length == 1 ) {
                        $('.panel-body table tr').find('td:eq(4), th:nth-child(4)').remove();
                        let cell3 = row.insertCell(2);
                        cell3.innerHTML = $('[data-date = ' + info.dateStr + ']')[0].children[i].getAttribute('late');
                    }
                    else {
                        let cell3 = row.insertCell(2);
                        cell3.innerHTML = $('[data-date = ' + info.dateStr + ']')[0].children[i].getAttribute('late');
                        let cell4 = row.insertCell(3);
                        cell4.innerHTML = "-";
                    }
                }
                else {
                    cell2.innerHTML = "Early exit";
                    if( $('[data-date = ' + info.dateStr + ']')[0].children.length == 1 ) {
                        $('.panel-body table tr').find('td:eq(3), th:nth-child(3)').remove();
                        let cell3 = row.insertCell(2);
                        cell3.innerHTML = $('[data-date = ' + info.dateStr + ']')[0].children[i].getAttribute('early');
                    }
                    else {
                        let cell3 = row.insertCell(2);
                        cell3.innerHTML = "-";
                        let cell4 = row.insertCell(3);
                        cell4.innerHTML = $('[data-date = ' + info.dateStr + ']')[0].children[i].getAttribute('early');
                    }
                }
            }
        }
        else {
            if( $('#panel-table')[0].style.visibility == "visible" ) {
                $('#panel-table')[0].style.visibility = "hidden";
            }
        }
    }

    function greyFutureDays() {
        let todayMonth = new Date().getMonth()+1;
        let todayDay = new Date().getDate();

        for(let i = 0; i < $('[data-date]').length; i++) {
            let cellMonth = $('[data-date]')[i].getAttribute('data-date').split('-')[1];
            let cellDay = parseInt($('[data-date]')[i].getAttribute('data-date').split('-')[2]);

            if( cellMonth == todayMonth ) {
                if( cellDay > todayDay ) {
                    $('[data-date]')[i].style.backgroundColor = "#F1F1F1";
                }
            }
        }

        for(let i = 0; i < $('.fc-day-number').length; i++) {
            if( calendar.getDate().getMonth()+1 == todayMonth ) {
                if( $('.fc-day-number')[i].textContent > todayDay ) {
                    $('.fc-day-number')[i].style.backgroundColor = "#F1F1F1";
                }
            }
        }
    }

    function addAttendanceCircles() {
        for(let i = 0; i < $('[data-date]').length; i++) {
            let circle = document.createElement('div');
            circle.style.height = "50%";
            circle.style.width = "38%";
            circle.style.marginTop = "33%";
            circle.style.marginLeft = "31%";
            circle.style.borderRadius = "50%";
            $('[data-date]')[i].appendChild(circle);
        }
    }

    function checkRightArrow() {
        let todayMonth = new Date().getMonth()+1;
        let calendarMonth = calendar.getDate().getMonth()+1;
        if( calendarMonth == todayMonth ) {
            $('.fc-next-button')[0].setAttribute('disabled', '');
        }
        else {
            if( $('.fc-next-button')[0].getAttribute('disabled') != null ) {
                $('.fc-next-button')[0].removeAttribute('disabled');
            }
        }
    }

  function checkLeftArrow() {
      let september = 9;
      let calendarMonth = calendar.getDate().getMonth()+1;
      if( calendarMonth == september ) {
          $('.fc-prev-button')[0].setAttribute('disabled', '');
      }
      else {
          if( $('.fc-prev-button')[0].getAttribute('disabled') != null ) {
              $('.fc-prev-button')[0].removeAttribute('disabled');
          }
      }
  }
</script>

<% content_for :sidebar do %>
  <div class="sidebar-header">
    <h3>Welcome <%= @parent.name %>!</h3>
  </div>

  <ul class="list-unstyled components">
    <p>Parent page</p>
    <li><%= link_to " Home", parent_path(@parent), class: 'mdi mdi-view-dashboard', data: { turbolinks: false } %></li>
    <li><%= link_to " Marks", parent_marks_url, class: 'mdi mdi-bookmark', data: { turbolinks: false } %></li>
    <li><%= link_to " Assignments", parent_assignments_url, class: 'mdi mdi-book-open', data: { turbolinks: false } %></li>
    <li class="active"><%= link_to " Attendance", parent_attendances_url, class: 'mdi mdi-clock-check', data: { turbolinks: false } %></li>
  </ul>
<% end %>

<% content_for :navbar do %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><span class="mdi mdi-account-switch"></span></span>
        </div>
        <%= select_tag :student_select, options_for_select(@students.map{|s| [s.to_s, s.id]}), class: "custom-select", remote: true%>
      </div>
    </li>
  </ul>
<% end %>

<table style="margin-top: 3%">
  <tr>
    <td>
      <div class="absent" style="border-radius: 50%; width: 3vw; height: 3vw; float: left"></div>
      <p style="float: right; margin: 2% 20% 0 0; font-size: 2vw">Absent</p>
    </td>
    <td>
      <div class="late" style="border-radius: 50%; width: 3vw; height: 3vw; float: left"></div>
      <p style="float: right; margin: 2% 20% 0 0; font-size: 2vw">Late</p>
    </td>
    <td>
      <div class="early" style="border-radius: 50%; width: 3vw; height: 3vw; float: left"></div>
      <p style="float: right; margin: 2% 20% 0 0; font-size: 2vw">Early</p>
    </td>
  </tr>
</table>


<div id="calendar"></div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      <div class="panel panel-info" id="panel-table" style="visibility: hidden; margin-top: 5%">
        <div class="panel-heading">Attendance information</div>
        <div class="panel-body">
          <table class="table table-striped" id="table-attendance">
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Enters at</th>
              <th>Exits at</th>
            </tr>
          </table>
        </div>
      </div>
  </div>

</div>

<script type="text/javascript">
    window.onload = () => {
        document.getElementById("student_select").onchange = function() {
            for(let i = 0; i < $('[data-date]').length; i++) {
                let children = $('[data-date]')[i].children.length;
                for(let j = 0; j < children; j++) {
                    if( $('[data-date]')[i].children[0].tagName == "DIV" ) {
                        $('[data-date]')[i].removeChild($('[data-date]')[i].children[0]);
                    }
                }
            }
            addAttendanceCircles();
            loadAttendances(document.getElementById("student_select").value);
            greyFutureDays();
        };
    };

    setStudentSelectListener();

    initializeCalendar();

    addAttendanceCircles();

    greyFutureDays();

    colorCalendar();

    makeDaysClickable();

    checkRightArrow();

    checkLeftArrow();

    $('.fc-prev-button')[0].onclick = function () {
        let student_id = $('#student_select')[0].value;
        addAttendanceCircles();
        loadAttendances(student_id);
        $('#panel-table')[0].style.visibility = "hidden";
        greyFutureDays();
        checkRightArrow();
        checkLeftArrow();
    };

    $('.fc-next-button')[0].onclick = function () {
        let student_id = $('#student_select')[0].value;
        addAttendanceCircles();
        loadAttendances(student_id);
        $('#panel-table')[0].style.visibility = "hidden";
        greyFutureDays();
        checkRightArrow();
        checkLeftArrow();
    };

    $('.fc-today-button')[0].onclick = function () {
        let student_id = $('#student_select')[0].value;
        addAttendanceCircles();
        loadAttendances(student_id);
        $('#panel-table')[0].style.visibility = "hidden";
        greyFutureDays();
        checkRightArrow();
        checkLeftArrow();
    };

    var intervalID = setInterval(makeDaysClickable, 500);
</script>

