<% content_for :sidebar do %>
  <div class="sidebar-header">
    <h3>Welcome <%= @parent.to_s %>!</h3>
  </div>

  <ul class="list-unstyled components">
    <p>Parent page</p>
    <li><%= link_to " Home", parent_path(@parent), class: 'mdi mdi-view-dashboard', data: { turbolinks: false } %></li>
    <li><%= link_to " Marks", parent_marks_url, class: 'mdi mdi-bookmark', data: { turbolinks: false } %></li>
    <li><%= link_to " Assignments", parent_assignments_url, class: 'mdi mdi-book-open', data: { turbolinks: false } %></li>
    <li><%= link_to " Attendances", parent_attendances_url, class: 'mdi mdi-clock-check', data: { turbolinks: false } %></li>
    <li class="active"><%= link_to " Communications", parent_communications_url(@parent), class: 'mdi mdi-text-to-speech' %></li>
    <li><%= link_to " Materials", parent_materials_url, class: 'mdi mdi-library-books' %></li>
    <li><%= link_to " Notes", parent_notes_url(@parent), class: 'mdi mdi-email-alert', data: { turbolinks: false } %></li>
    <li><%= link_to " Timetables", parent_timetables_url(@parent), class: 'mdi mdi-timetable', data: { turbolinks: false } %></li>
  </ul>
<% end %>

<% content_for :navbar do %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= select_tag :expiry_date_select,
                     options_for_select(["All", "Valid", "Expired"]), class: "custom-select", style:"width:100px;"%>
    </li>
  </ul>
<% end %>
<div style="overflow: auto">
<table id="communications" data-sortable="true" class="table table-striped table-sm">
  <caption></caption>
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Start Time</th>
    <th scope="col">Expiry Time</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody id="communications-body">
  <%= render partial: 'parents/communication', collection: @communications.sort_by(&:start_date).reverse %>
  </tbody>
</table>
</div>

<div id="new-communication">
</div>

<script type="text/javascript">
    function loadCommunications(){
            $.ajax({
              type: 'GET',
              url: "/parents/<%= @parent.id %>/communications/",
                data: {
                    expiry_date_select: document.getElementById("expiry_date_select").value
                },
              contentType: "text/javascript",
        }).done(function(response){
        });
    }
    $(document).ready(function() {
            document.getElementById("expiry_date_select").onchange = loadCommunications;
    });

</script>

<%= render partial: 'communications/modal_show' %>
