<div>
  <h1>
    Parents
  </h1>
</div>
<div>
  <table>
    <th scope="col">Name</th>
    <th scope="col">Surname</th>
    <th scope="col">E-mail</th>
    <th scope="col"></th>
    <% @parents.each do |parent| %>
      <tr>
        <td><%= parent.name %></td>
        <td><%= parent.surname %></td>
        <td><%= parent.email %></td>
        <td><%= button_to "Show", parent_path(parent), method: :get %></td>
        <td><%= button_to "Edit", edit_parent_path(parent) %></td>
      </tr>
    <% end %>
  </table>
</div>