<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
<div class="sidenav">
  <h2 class="hellouser">
  Hello, <%= @parent.name %> <%= @parent.surname %>!
  </h2>
<div class="navcontent">
  <a href="/parents/<%= @parent.id %>"><span class = "mdi mdi-view-dashboard"> Dashboard</span></a>
  <a class="active" href="/parents/<%= @parent.id %>/show_marks"><span class = 'mdi mdi-school'> Marks</span></a>
</div>
</div>
<div class="main">
<%= form_tag('./show_marks/switch_child', :method => :post, :remote => true) do %>
<%= label_tag(:student, "Select your child")%>
<%= select_tag(:student_id, Student.all.collect {|p| [ p.surname, p.id ] }, :onchange => "this.form.submit();")%> <!--- must change to: only children of that parent -->
<% end %>
</div>
