<% content_for :sidebar do %>
  <div class="sidebar-header">
    <h3>Welcome <%= @parent.to_s %>!</h3>
  </div>

  <ul class="list-unstyled components">
    <p>Parent page</p>
    <li><%= link_to " Home", parent_path(@parent), class: 'mdi mdi-view-dashboard', data: { turbolinks: false } %></li>
    <li><%= link_to " Assignments", parent_assignments_url, class: 'mdi mdi-book-open', data: { turbolinks: false } %></li>
    <li><%= link_to " Attendances", parent_attendances_url, class: 'mdi mdi-clock-check', data: { turbolinks: false } %></li>
    <li><%= link_to " Communications", parent_communications_url(@parent), class: 'mdi mdi-text-to-speech' %></li>
    <li><%= link_to " Materials", parent_materials_url, class: 'mdi mdi-library-books' %></li>
    <li><%= link_to " Notes", parent_notes_url(@parent), class: 'mdi mdi-email-alert', data: { turbolinks: false } %></li>
    <li class="active"><%= link_to " Timetables", parent_timetables_url(@parent), class: 'mdi mdi-timetable', data: { turbolinks: false } %></li>
  </ul>
<% end %>
<script type="text/javascript">
    function loadTimetables(student_id){
        $.ajax({
            type: 'GET',
            url: "/parents/<%= @parent.id%>/timetables/" + student_id,
            contentType: "text/javascript",
        }).done(function(response){
            if (document.getElementById("subjects-tabs") != / && document.getElementById("subjects-tabs") != undefined && document.getElementById("subjects-tabs").children[0] != / && document.getElementById("subjects-tabs").children[0] != undefined) {
                document.getElementById("subjects-tabs").firstChild.firstElementChild.classList.add("active");
                document.getElementById("subjects-tabs-content").children[1].classList.add("show");
                document.getElementById("subjects-tabs-content").children[1].classList.add("active");
            }
        });
    }
    $(document).ready(function() {
        if (document.getElementById("subjects-tabs") != / && document.getElementById("subjects-tabs") != undefined && document.getElementById("subjects-tabs").children[0] != / && document.getElementById("subjects-tabs").children[0] != undefined) {
            document.getElementById("subjects-tabs").children[0].children[0].classList.add("active");
            document.getElementById("subjects-tabs-content").children[1].classList.add("show");
            document.getElementById("subjects-tabs-content").children[1].classList.add("active");
        }
        document.getElementById("student_select").value = "<%= @student.id%>"
        document.getElementById("student_select").onchange = function(){
            loadTimetables(document.getElementById("student_select").value);
        };
    });
</script>
<% content_for :navbar do %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><span class="mdi mdi-account-switch"></span></span>
        </div>
        <%= select_tag :student_select, options_for_select(@students.map{|s| [s.to_s, s.id]}), class: "custom-select", remote: true%>
      </div>
    </li>
  </ul>
<% end %>

<div style="overflow: auto">
    <table class="table table-sm">
    <tr>
        <th></th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
    </tr>
    <tr>
        <th scope="row">08:00 - 09:00</th>
        <td><%= @monday[0] ? @monday[0].subject : "/"%></td>
        <td><%= @tuesday[0] ? @tuesday[0].subject : "/"%></td>
        <td><%= @wednesday[0] ? @wednesday[0].subject : "/"%></td>
        <td><%= @thursday[0] ? @thursday[0].subject : "/"%></td>
        <td><%= @friday[0] ? @friday[0].subject : "/"%></td>
    </tr>
    <tr>
        <th scope="row">09:00 - 10:00</th>
        <td><%= @monday[1] ? @monday[1].subject : "/"%></td>
        <td><%= @tuesday[1] ? @tuesday[1].subject : "/"%></td>
        <td><%= @wednesday[1] ? @wednesday[1].subject : "/"%></td>
        <td><%= @thursday[1] ? @thursday[1].subject : "/"%></td>
        <td><%= @friday[1] ? @friday[1].subject : "/"%></td>
    </tr>
    <tr>
        <th scope="row">10:00 - 11:00</th>
        <td><%= @monday[2] ? @monday[2].subject : "/"%></td>
        <td><%= @tuesday[2] ? @tuesday[2].subject : "/"%></td>
        <td><%= @wednesday[2] ? @wednesday[2].subject : "/"%></td>
        <td><%= @thursday[2] ? @thursday[2].subject : "/"%></td>
        <td><%= @friday[2] ? @friday[2].subject : "/"%></td>
    </tr>
        <tr>
        <th scope="row">11:00 - 12:00</th>
        <td><%= @monday[3] ? @monday[3].subject : "/"%></td>
        <td><%= @tuesday[3] ? @tuesday[3].subject : "/"%></td>
        <td><%= @wednesday[3] ? @wednesday[3].subject : "/"%></td>
        <td><%= @thursday[3] ? @thursday[3].subject : "/"%></td>
        <td><%= @friday[3] ? @friday[3].subject : "/"%></td>
    </tr>
    <tr>
        <th scope="row">12:00 - 13:00</th>
        <td><%= @monday[4] ? @monday[4].subject : "/"%></td>
        <td><%= @tuesday[4] ? @tuesday[4].subject : "/"%></td>
        <td><%= @wednesday[4] ? @wednesday[4].subject : "/"%></td>
        <td><%= @thursday[4] ? @thursday[4].subject : "/"%></td>
        <td><%= @friday[4] ? @friday[4].subject : "/"%></td>
    </tr>
    <tr>
        <th scope="row">13:00 - 14:00</th>
        <td><%= @monday[5] ? @monday[5].subject : "/"%></td>
        <td><%= @tuesday[5] ? @tuesday[5].subject : "/"%></td>
        <td><%= @wednesday[5] ? @wednesday[5].subject : "/"%></td>
        <td><%= @thursday[5] ? @thursday[5].subject : "/"%></td>
        <td><%= @friday[5] ? @friday[5].subject : "/"%></td>
    </tr>
    </table>
</div>
