<form>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label class="col-form-label">Title:</label>
        <input type="text" class="form-control" value="<%= material.title %>" readonly>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label class="col-form-label">Subject:</label>
        <input type="text" class="form-control" value="<%= material.subject %>" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label class="col-form-label">Creation Date:</label>
        <input type="text" class="form-control" value="<%= material.created_at %>" readonly>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label class="col-form-label">School Class:</label>
        <input type="text" class="form-control" value="<%= material.school_class.class_to_s %>" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label class="col-form-label">Teacher:</label>
        <input type="text" class="form-control" value="<%= material.teacher %>" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
    <div class="form-group">
      <label class="col-form-label">Description:</label>
      <textarea class="form-control" id="message-text" readonly><%= material.description %></textarea>
    </div>
    </div>
  </div>
  <% if material.file.url.present? %>
    <div class="form-group">
      <label class="col-form-label">Support material: </label>
      <%= material.file %>
      <a href="<%= material.file.url%>" download>
        <button type="button" class="btn btn-primary">
          Download
        </button>
      </a>
    </div>
  <% end %>
</form>