if(document.getElementById('material-row_<%= @material.id %>')) {
    document.getElementById('material-row_<%= @material.id %>').insertAdjacentHTML('afterend', "<tr id='edit-form_<%= @material.id %>'><td colspan=6><%= j render 'form', material: @material %></td></tr>")
    $('a').addClass("disabled")
    $('#material-edit_<%= @material.id %>').replaceWith("<a class='btn btn-warning' id='undo-edit-material<%= @material.id %>'>Undo</a>")
    $('tr:not(#edit-form_<%= @material.id %>, #material-row_<%= @material.id %>)').addClass('blur-filter')

    $('#undo-edit-material<%= @material.id %>').click(function (e) {
        e.preventDefault();
        $('a').removeClass("disabled");
        $('.blur-filter').removeClass('blur-filter');
        document.getElementById('edit-form_<%= @material.id %>').remove()
        $('#material-row_<%= @material.id %>').replaceWith("<%= j render @material %>")
        return false;
    });
}
