<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Studently</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>SchoolApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top" style="height: 6vh; background-color: #699AAC;">
  <div class="container" style="height: 100%; padding: 0">
    <div class="navbar-header" style="height: 100%">

      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav" style="width: 100%; height: 100%; margin-left: 20%; padding-top: 0%; background-color: #699AAC;">
        <i class="mdi mdi-menu mdi-24px"></i>
      </button>

    </div>
  </div>
</div>

<div class="wrapper">
  <!-- Sidebar -->
  <div class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas" id="sidebar"; style="height: 100%">
    <%= yield :sidebar %>
    <% if current_user.roles.size > 1 %>
      <ul class="list-unstyled components">
        <li><%= button_to welcome_role_path(current_user), method: :get, id: 'logout-button', :form => { :id => "logout-form" }, class: 'btn btn-link' do %>
            <i class="mdi mdi-keyboard-backspace"></i> Back
          <% end %>
        </li>
      </ul>
      <% end %>
    <% if user_signed_in? %>
      <ul class="list-unstyled components">
        <li><%= button_to destroy_user_session_path, method: :delete, id: 'logout-button', :form => { :id => "logout-form" }, class: 'btn btn-link' do %>
            <i class="mdi mdi-logout"></i> Logout
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>

  <!-- Page Content -->
  <div class="container" id="page-content">
    <div class="card main-layout">
      <%= render partial: 'layouts/popup' %>
      <nav id="navbar" class="navbar navbar-expand-md shadow-sm p-3 mb-5 bg-white rounded">
        <%= yield :navbar %>
      </nav>

      <%= yield %>
    </div>
  </div>
</div>

<script type="text/javascript">
  var navbar = $('.navbar-fixed-top')[0];
  var parent_navbar = (navbar === undefined ? null : navbar.parentElement);
  var is_navbar_visible = true;

    $(document).ready(function(){
        let screenWidth = document.getElementsByTagName("body")[0].clientWidth; // get starting screen width
        let nav = $('.navbar-fixed-top')[0]; // get navbar on top of the page (hidden if screen size is greater than 960px)

        if(screenWidth > 960) {
            nav.setAttribute('hidden', ''); // hide navbar on top
            is_navbar_visible = false; // update navbar visibility info
        }

        setTimeout(function(){
            $('#message').fadeOut(150);
        }, 1000);

        document.getElementById("page-content").addEventListener("click", function() { // when user clicks on body element
            if( $('.sidebar-offcanvas')[0].classList.contains('active') ) { // if sidebar is active
                $('.sidebar-offcanvas').toggleClass('active', 1000); // set sidebar inactive
                if(parent_navbar != null) {
                    parent_navbar.insertBefore(navbar, parent_navbar.firstChild); // re-establish navbar on top
                    navbar.style.backgroundColor = "#699AAC";
                    is_navbar_visible = true; // update navbar visibility info
                }
            }
        }, false);

        $('[data-toggle=offcanvas]').click(function() { // when user clicks on button to open sidebar (you should see it on the navbar by the way)
            $('.sidebar-offcanvas').toggleClass('active', 1000); // set sidebar active
            $('.navbar-fixed-top')[0].remove(); // remove navbar on top in order to focus attention on sidebar
            is_navbar_visible = false; // update navbar visibility info
        });

        document.getElementsByTagName("body")[0].onresize = function(event) {
            let screenWidth = document.getElementsByTagName("body")[0].clientWidth; // get starting screen width

            let distance = (screenWidth - 960) * 2.5; // get distance between screen width and given threshold
            let percentage = (distance > 0) ? distance / 100 : -1 * distance / 100; // compute percentage

            document.getElementsByClassName('sidebar-offcanvas')[0].setAttribute('style', "opacity:" + percentage); // update sidebar opacity in function of percentage distance
            if( document.getElementsByClassName('navbar-fixed-top')[0] !== undefined ) { // if navbar exists
                document.getElementsByClassName('navbar-fixed-top')[0].setAttribute('style', "opacity:" + percentage + "; height: 50px; background-color: #699AAC"); // update navbar opacity in function of percentage distance
            }


            if(screenWidth > 960) { // if screen width is greater than 960 px
                if( $('.navbar-fixed-top')[0] !== undefined ) { // if there is navbar on top
                    $('.navbar-fixed-top')[0].setAttribute('hidden', ''); // hide the navbar
                    is_navbar_visible = false; // update navbar visibility info
                }
                if( $('.sidebar-offcanvas')[0] !== undefined ) { // if there is no sidebar because it's inactive
                    $('.sidebar-offcanvas').toggleClass('active', 1000); // set sidebar active
                }
            }
            else { // if screen width is lower than 960px
                if( $('.navbar-fixed-top')[0] !== undefined ) { // if there is navbar on top
                    $('.navbar-fixed-top')[0].removeAttribute('hidden'); // show the navbar
                    is_navbar_visible = true; // update navbar visibility info
                }
                else {
                    if(parent_navbar != null) {
                        parent_navbar.insertBefore(navbar, parent_navbar.firstChild);
                    }
                }
                if( $('.sidebar-offcanvas')[0].classList.contains('active') ) { // if sidebar is active
                    $('.sidebar-offcanvas').toggleClass('active'); // set sidebar inactive
                }
            }
        };
    });
</script>
</body>
</html>
