<!DOCTYPE html>
<html>
<head>
  <title>Studently</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
</head>

<body>
<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <%= yield :sidebar %>
    <% if user_signed_in? %>
      <ul class="list-unstyled components">
        <li><%= button_to destroy_user_session_path, method: :delete, id: 'logout-button', :form => { :id => "logout-form" }, class: 'btn btn-link' do %>
            <i class="mdi mdi-logout"></i> Logout
          <% end %>
        </li>
      </ul>
    <% end %>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="card main-layout">
      <%= render partial: 'layouts/popup' %>
      <nav id="navbar" class="navbar navbar-expand-md shadow-sm p-3 mb-5 bg-white rounded">
        <%= yield :navbar %>
      </nav>

      <%= yield %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        setTimeout(function(){
            $('#message').fadeOut(150);
        }, 1000);
    })
</script>
</body>
</html>
