<!DOCTYPE html>
<html>
<head>
  <title>SchoolApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
</head>

<body>
<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <%= yield :sidebar %>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="card">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
